@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
    font-family: "Roboto", sans-serif;
}
#headerTable {
    width: 100%;
}
.logo {
    width: 80px;
}

body {margin:0;
  background: #5cdb95;}

main {
    min-height: 100vh;
}
.navbar {
  overflow: hidden;
  background-color:#05386b;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #5cdb95;
  color: black;
}
a {
    margin-right: 16px;
    text-decoration: none;
    color: black;
}
video {
    width: 100%;
    
}
#mainTable {
    width: 100%;
    margin-top: 60px;
}


#mainTab {
  width: 100%;
  margin-top: 50px;
}

#mainTb {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#userImage {
    width: 500px;
    margin: 16px;
}
.bioBox {
    width: 70%;
    text-align: left;
}
.btn{
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #05386b;
  color: white;
  border: none;
  cursor: pointer;
}

* {box-sizing: border-box;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#footerTab{
  min-height: 200px;
  width: 100%;
  background-color: #05386b;
  color: white;
  }

  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #5fcf80;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #3ac162;
    color: #fff;
    text-decoration: none;
  }
  
  